{% if block.type == 'product_button' %}
  <div class="smi-product-block-{{ section.id }} smi-product-popup-button {% if forloop.index != section.blocks.size %} smi-mb-lg {% endif %} " {{ block.shopify_attributes }}>
    {{ BUTTON }}
  </div>
{% endif %}