{% if block.type == "product_text" %}
    <div class="smi-product-block-{{ section.id }} smi-product-text smi-text-md smi-text-75 {% if forloop.index != section.blocks.size %} smi-mb-lg {% endif %} " {{ block.shopify_attributes }}>
        {{ block.settings.text }}
    </div>
{% endif %}