{% if block.type == "product_divider" %}
    <div class="smi-product-block-{{ section.id }} smi-product-divider {% if forloop.index != section.blocks.size %} smi-mb-lg {% endif %} " {{ block.shopify_attributes }}>
        divider
    </div>
{% endif %}